* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-flow: column nowrap;
}

/* CSS for Header */

.headerbox {
    background-color: #1f2937;
    padding: 10px 400px 120px;
    flex: 5;
}

.flex-container-0 {
    display: flex;
    flex-direction: row;
}

.flex-container-1 {
    display: flex;
    flex-direction: row;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
    padding: 40px 20px 40px 0px;
}

.flex-container-3 {
    display: flex;
    flex-flow: column wrap;
    flex: 3;
}

.flex-container-4 {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
}

.img-placeholder {
    color: #e5e7eb;
}

.spacer {
    flex: 1
}

#header-logo {
    flex: 4;
    justify-content: flex-start;
}

.header-link {
    justify-content: flex-end;
    flex: 1;
}

.hero-main {
    font-size: 48px;
    font-weight: 700; 
    color: #f9faf8;
    margin: 0;
}

.hero-text {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}

.quote {
    background-color: #e5e7eb;
}

.bg-dark-gray {
    background-color: #6c7173;
}

.btn-sign-up {
    width: fit-content;
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
    padding: 10px 40px;
}

/* CSS for Infobox */

.infobox {
    display: flex;
    flex-direction: column;
    padding: 10px 400px 120px;
    background-color: #f9faf8;
    flex: 5;
}

.info-header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;
}

.info-icons-container {
    display: flex;
    justify-content: space-evenly;
}

.info-icon {
    flex: 0 0 auto;
    width: 160px;
    height: 160px;
    border: 6px solid #3882f6;
    border-radius: 8px;
    }

.info-text-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
 }

 .info-text {
    color: #6c7173;
    width: 156px;
    text-align: center;
 }

 /* CSS for Quotebox */

 .quotebox {
    background-color: #e5e7eb;
    padding: 72px 500px;
    flex: 5;
 }

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.person-quoted {
    text-align: end;
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;
}

/* CSS for Actionbox */

.actionbox {
    display: flex;
    padding: 48px 400px;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
    flex: 5;
}

.action-container {
    background-color: #3882f6;
    display: flex;
    border-radius: 8px;
    align-items: center;
}

.action-text-container {
    color: #f9faf8;
    padding: 20px 40px;
}

.action-text-header {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 2px;
}

.action-text-subheader {
    font-size: 18px;
    font-weight: 400;
    margin-top: 2px;
}

.action-btn {
    width: fit-content;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
    padding: 10px 40px;
    margin-right: 20px;
}